#popupContent{

float:left;
width:55%;
margin-left:25px;
margin-top:12%;

}

#popupHeader
{
	color:#3c3b3c;
}


#popupFooter {
  position: absolute;
  top: 505px;
  left: 820px;
}

.quesPopupIText {
  position: absolute;
  left: -450px;
}



