<div id="mainPageDiv">
	<div id="feedbackModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body text-center">
					<div class="score-star">
						<div class="feedback-star one bounceIn"></div>
						<div class="feedback-star two bounceIn"></div>
						<div class="feedback-star three bounceIn"></div>
					</div>
					<h3 class="modal-title">
						<span class="congrats">Congratulations!</span>
						<span class="hard-luck">Hard Luck!</span>
					</h3>
					<div class="mistakes-score-wrapper">
						<div class="row score-wrap issues bounceIn">
							<div class="score labels col-xs-6 text-right">Issues identified</div>
							<div class="score num col-xs-6 text-left"><span id='issues-identified' class="identified">5</span><span> out of </span><span id='total-issues' class="issues-total">7</span></div>
						</div>
						<div class="row score-wrap missed bounceIn">
							<div class="score labels col-xs-6 text-right">Resume Analysis</div>
							<div id="missed-attempts" class="score num col-xs-6 text-left">300</div>
						</div>
						<div class="row score-wrap current bounceIn">
							<div class="score labels col-xs-6 text-right">Report Analysis</div>
							<div id="current-score" class="score num col-xs-6 text-left">300</div>
						</div>
						<div class="row score-wrap previous bounceIn">
							<div class="score labels col-xs-6 text-right">Transcript Analysis</div>
							<div id="previous-score" class="score num col-xs-6 text-left">200</div>
						</div>
						<div class="row score-wrap previous bounceIn">
							<div class="score labels col-xs-6 text-right">Candidate Rating</div>
							<div id="previous-score" class="score num col-xs-6 text-left">5</div>
						</div>
						<div class="row score-wrap total bounceIn">
							<div class="score labels col-xs-6 text-right">Total Score</div>
							<div id="total-score" class="score num col-xs-6 text-left">2500</div>
						</div>
					</div>
				</div>
			</div>
			<div class="feedback-modal-btn continue text-center clickable bounceIn" role="button">
				<span id="nextButton" class="btn-text text-uppercase next-text-block">Continue</span>
			</div>
		</div>
	</div>
	<div id="profile-content-container"></div>


	</div>

</div>

<link href="js/vendor/noUiSlider/nouislider.min.css" rel="stylesheet">

 <script src="pages/templates/profileScreen/profileScreen.js"></script>