#activityDiv{

margin-top: 50px;

}

#tabular
{
	top:140px;
	left: 190px;
	position: absolute;
	max-height: 350px;
	overflow: auto;
	width: 720px;
}


td{
	width: 80px;
	padding:5px;
}

td div{


}

#paramTd{

	width: 100px;
}

.headTh{

	padding: 7px;

}


.radioBtn{

	cursor: pointer;
	margin-left: 45%;
}

.radioActive{
	cursor: pointer;
}

#actTable{

	width: 650px;
  	height: 300px;
}


