.element-click{border: 1px dashed #b10000;}
.error-wrap{position: relative; display: inline-block;}
.error-wrap .explanation{position: absolute; background-color: #12234a; width: 220px; color: #ffffff; top: -45px; z-index: 250; text-align: center; padding: 2px 7px;}