<?xml version="1.0" encoding="UTF-8" ?>

<config>
	<courseName> </courseName>
	<pagesFolder>pages</pagesFolder>
	<scorm>
		<version></version>
		<path></path>
	</scorm>
	<moduleId>1</moduleId>
	<webApi>
		<parameterCall>http://203.199.38.89/Excelsioroer/api/parameter</parameterCall>
		<moduleGet>http://203.199.38.89/Excelsioroer/api/module/1</moduleGet>
		<modulePost>http://203.199.38.89/Excelsioroer/api/module</modulePost>
		<moduleOer>http://203.199.38.89/Excelsioroer/api/oer</moduleOer>
	</webApi>

	<competencies>
		<competency>Analysis of Financial Statements</competency>
		<competency>Basic Accounting Concepts</competency>
		<competency>Basic Principles of Finance</competency>
	</competencies>
	


</config>



