#popupContent{

float:left;
width:55%;
margin-left:25px;
margin-top:12%;

}

#popupHeader {
  top: 272px;
  left: 377px;
  position: absolute;
}


#popupBody {
  position: absolute;
  top: 353px;
  left: 338px;
}

.quesPopupIText {
  position: absolute;
  left: -450px;
}

#yesBtn{

	margin-left: 63px;
}

#popupBody .nextButton .nextButtonText {
  position: relative;
  color: white;
  top: 27%;
  left: 39%;
}



