<div id="mainPageDiv">
	<div id="feedbackModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body text-center">
					<div class="score-star">
						<div class="feedback-star one bounceIn"></div>
						<div class="feedback-star two bounceIn"></div>
						<div class="feedback-star three bounceIn"></div>
					</div>
					<h3 class="modal-title">
						<span class="congrats">Congratulations!</span>
						<span class="hard-luck">Tough Luck!</span>
					</h3>
					<div class="mistakes-score-wrapper">
						<div class="row score-wrap resume-step bounceIn">
							<div class="score labels col-xs-6 text-right">Resume Analysis</div>
							<div id="resume-score" class="score num col-xs-6 text-left">300</div>
						</div>
						<div class="row score-wrap report-step bounceIn">
							<div class="score labels col-xs-6 text-right">Report Analysis</div>
							<div id="report-score" class="score num col-xs-6 text-left">300</div>
						</div>
						<div class="row score-wrap transcript-step bounceIn">
							<div class="score labels col-xs-6 text-right">Transcript Analysis</div>
							<div id="transcript-score" class="score num col-xs-6 text-left">200</div>
						</div>
						<div class="row score-wrap rating-step bounceIn">
							<div class="score labels col-xs-6 text-right">Candidate Rating</div>
							<div id="candidate-score" class="score num col-xs-6 text-left">5</div>
						</div>
						<div class="row score-wrap total bounceIn">
							<div class="score labels col-xs-6 text-right">Total Score</div>
							<div id="total-score" class="score num col-xs-6 text-left">2500</div>
						</div>
					</div>
				</div>
			</div>
			<div class="feedback-modal-btn continue text-center clickable bounceIn" role="button">
				<span id="nextButton" class="btn-text text-uppercase next-text-block">Continue</span>
			</div>
		</div>
	</div>
	<div id="profile-content-container"></div>


	</div>

	<div src='img/bg_wood.png' class="image"></div>
	<div src='img/paperBg_step1.png' class="image"></div>
	<div src='img/paperBg_step2.png' class="image"></div>
	<div src='img/paperBg_step3.png' class="image"></div>
	<div src='img/paperBg_step4.png' class="image"></div>
	<div src='img/bottomBand.png' class="image"></div>
	<div src='img/tab.png' class="image"></div>
	<div src='img/btn_accept.png' class="image"></div>
	<div src='img/btn_reject.png' class="image"></div>
	<div src='img/bluePostit.png' class="image"></div>
	<div src='img/bg_feedback.png' class="image"></div>
	<div src='img/radioBtnSmall.png' class="image"></div>
	<div src='img/btn_continue.png' class="image"></div>
	<div src='img/slider-base.png' class="image"></div>
	<div src='img/slider_rating.png' class="image"></div>
	<div src='img/photo_rating.png' class="image"></div>
	<div src='img/feedback_postIt.png' class="image"></div>
	<div src='img/stars-sprite.png' class="image"></div>
	<div src='img/btn_done.png' class="image"></div>


</div>

<link href="js/vendor/noUiSlider/nouislider.min.css" rel="stylesheet">

 <script src="pages/templates/profileScreen/profileScreen.js"></script>