/* Menu Page */
.menu-bg .final-screen{display: none;}
.menu-bg{background: url(images/bg_wood.png) left top no-repeat; background-size: initial; overflow: hidden; z-index: 0;}
.menu-bg .menu-div{width: 464px; height: 100%; padding: 100px 50px 75px; color: #fff; background: url(images/bluePatch.png) top left no-repeat; z-index: 10; display: inline-block; top: 0; position: absolute;}
.menu-div .heading{margin-bottom: 25px;}
.menu-bg .menu-div .menu-upper{width: 225px;}
.menu-bg .menu-div .menu-icon-brochure{width: 111px; height: 142px; background: url(images/icon_brochure.png) 0 0 no-repeat;}
.menu-bg .anim-div{display: inline-block; position: relative; height: 100%; width: 550px; left: 463px;}
.menu-bg .anim-div .resume-hand{position: absolute;}
.menu-bg .anim-div .resume-hand.hand1{width: 400px; height: 300px; background: url(images/hand1.png) 0 0 no-repeat; top: 45px; left: -232px; transform: scale(0.9, 0.9);}
.menu-bg .anim-div .resume-hand.hand2{width: 220px; height: 352px; background: url(images/hand2.png) 0px 0px no-repeat; top: -23px; left: 115px; transform: scale(0.9, 0.9);}
.menu-bg .anim-div .resume-hand.hand3{width: 290px; height: 338px; background: url(images/hand3.png) 0px 0px no-repeat; top: 20px; right: -50px; transform: scale(0.9, 0.9);}
.menu-bg .anim-div .resume-hand.hand4{width: 324px; height: 376px; background: url(images/hand4.png) 0px top no-repeat; bottom: -25px; left: -57px; transform: scale(0.9, 0.9);}
.menu-bg .anim-div .resume-hand.hand5{width: 282px; height: 347px; background: url(images/hand5.png) 0px top no-repeat; bottom: -25px; right: 0px; transform: scale(0.9, 0.9);}
.menu-bg .anim-div .resume-hand.hand1.1-star{background-position: -400px 0px;}
.menu-bg .anim-div .resume-hand.hand2.1-star{background-position: -220px 0px;}
.menu-bg .anim-div .resume-hand.hand3.1-star{background-position: -290px 0px;}
.menu-bg .anim-div .resume-hand.hand4.1-star{background-position: -324px 0px;}
.menu-bg .anim-div .resume-hand.hand5.1-star{background-position: -282px 0px;}
.menu-bg .anim-div .resume-hand.hand1.2-star{background-position: -800px 0px;}
.menu-bg .anim-div .resume-hand.hand2.2-star{background-position: -440px 0px;}
.menu-bg .anim-div .resume-hand.hand3.2-star{background-position: -580px 0px;}
.menu-bg .anim-div .resume-hand.hand4.2-star{background-position: -648px 0px;}
.menu-bg .anim-div .resume-hand.hand5.2-star{background-position: -564px 0px;}
.menu-bg .anim-div .resume-hand.hand1.3-star{background-position: -1200px 0px;}
.menu-bg .anim-div .resume-hand.hand2.3-star{background-position: -660px 0px;}
.menu-bg .anim-div .resume-hand.hand3.3-star{background-position: -870px 0px;}
.menu-bg .anim-div .resume-hand.hand4.3-star{background-position: -972px 0px;}
.menu-bg .anim-div .resume-hand.hand5.3-star{background-position: -846px 0px;}
.menu-bg .anim-div .resume-hand.hand1.locked{background-position: -1600px 0px;}
.menu-bg .anim-div .resume-hand.hand2.locked{background-position: -880px 0px;}
.menu-bg .anim-div .resume-hand.hand3.locked{background-position: -1160px 0px;}
.menu-bg .anim-div .resume-hand.hand4.locked{background-position: -1296px 0px;}
.menu-bg .anim-div .resume-hand.hand5.locked{background-position: -1128px 0px;}

/* Final Feedback Screen */
.menu-bg.final .final-screen{display: block; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background-color: rgba(0,0,0,0.85); z-index: 1000;}
.menu-bg.final .final-screen .medal-wrapper{width: 513px; height: 239px; position: absolute; right: 0; top: calc(50% - 119px); background: url(images/bg_medal.png) 0 0 no-repeat;}
.menu-bg.final .final-screen .medal-wrapper .medal{width: 170px; height: 247px; position: absolute; top: -25px;}
.menu-bg.final .final-screen .medal-wrapper .medal.gold{background: url(images/medalGold.png) 0 0 no-repeat;}
.menu-bg.final .final-screen .medal-wrapper .medal.silver{background: url(images/medalSilver.png) 0 0 no-repeat;}
.menu-bg.final .final-screen .medal-wrapper .medal.bronze{background: url(images/medalBronze.png) 0 0 no-repeat;}
.menu-bg.final .final-screen .medal-wrapper .feedback-msg{display: inline-block; position: absolute; top: 35px; left: 210px;}
.menu-bg.final .final-screen .medal-wrapper .feedback-msg .feedback-title{font-size: 28px; color: #fff; font-weight: bold;}
.menu-bg.final .final-screen .medal-wrapper .feedback-msg .feedback-result{color: #fff; font-size: 20px; font-weight: normal;}
.menu-bg.final .final-screen .medal-wrapper .feedback-msg .feedback-medal{font-size: 30px; font-weight: bold; color: #fff;}
.menu-bg.final .final-screen .medal-wrapper .feedback-msg .feedback-medal.gold{color: #ffc500;}
.menu-bg.final .final-screen .btn-wrapper{padding: 4px 15px; position: absolute; bottom: 5px; right: 0px;}
.menu-bg.final .final-screen .final-scr-btn{width: 117px; height: 44px; background-position: 0 0; background-repeat: no-repeat; display: inline-block;}
.menu-bg.final .final-screen .final-scr-btn.replay{background-image: url(images/btn_continue.png);}
.menu-bg.final .final-screen .final-scr-btn.exit{background-image: url(images/btn_exit.png);}
.menu-bg.final .final-screen .final-scr-btn:hover{background-position: 0 -44px;}
.menu-bg.final .final-screen .final-scr-btn .btn-text{color: #fff; font-size: 16px; line-height: 40px; font-weight: bold;}