/* Menu Page */
.menu-bg{background: url(images/bg_wood.png) left top no-repeat; background-size: initial; overflow: hidden; z-index: 0;}
.menu-bg .menu-div{width: 464px; height: 100%; padding: 100px 50px 75px; color: #fff; background: url(images/bluePatch.png) top left no-repeat; z-index: 10; display: inline-block; top: 0; position: absolute;}
.menu-div .heading{margin-bottom: 25px;}
.menu-bg .menu-div .menu-upper{width: 225px;}
.menu-bg .menu-div .menu-icon-brochure{width: 111px; height: 142px; background: url(images/icon_brochure.png) 0 0 no-repeat;}
.menu-bg .anim-div{display: inline-block; position: relative; height: 100%; width: 550px; left: 463px;}
.menu-bg .anim-div .resume-hand{position: absolute;}
.menu-bg .anim-div .resume-hand.hand1{width: 400px; height: 300px; background: url(images/hand1.png) 0 0 no-repeat; top: 45px; left: -232px; transform: scale(0.9, 0.9);}
.menu-bg .anim-div .resume-hand.hand2{width: 220px; height: 352px; background: url(images/hand2.png) 0px 0px no-repeat; top: -23px; left: 115px; transform: scale(0.9, 0.9);}
.menu-bg .anim-div .resume-hand.hand3{width: 290px; height: 338px; background: url(images/hand3.png) 0px 0px no-repeat; top: 20px; right: -50px; transform: scale(0.9, 0.9);}
.menu-bg .anim-div .resume-hand.hand4{width: 324px; height: 376px; background: url(images/hand4.png) 0px top no-repeat; bottom: -25px; left: -57px; transform: scale(0.9, 0.9);}
.menu-bg .anim-div .resume-hand.hand5{width: 282px; height: 347px; background: url(images/hand5.png) 0px top no-repeat; bottom: -25px; right: 0px; transform: scale(0.9, 0.9);}
.menu-bg .anim-div .resume-hand.hand1.one-star{background-position: -400px 0px;}
.menu-bg .anim-div .resume-hand.hand2.one-star{background-position: -220px 0px;}
.menu-bg .anim-div .resume-hand.hand3.one-star{background-position: -290px 0px;}
.menu-bg .anim-div .resume-hand.hand4.one-star{background-position: -324px 0px;}
.menu-bg .anim-div .resume-hand.hand5.one-star{background-position: -282px 0px;}
.menu-bg .anim-div .resume-hand.hand1.two-star{background-position: -800px 0px;}
.menu-bg .anim-div .resume-hand.hand2.two-star{background-position: -440px 0px;}
.menu-bg .anim-div .resume-hand.hand3.two-star{background-position: -580px 0px;}
.menu-bg .anim-div .resume-hand.hand4.two-star{background-position: -648px 0px;}
.menu-bg .anim-div .resume-hand.hand5.two-star{background-position: -564px 0px;}
.menu-bg .anim-div .resume-hand.hand1.three-star{background-position: -1200px 0px;}
.menu-bg .anim-div .resume-hand.hand2.three-star{background-position: -660px 0px;}
.menu-bg .anim-div .resume-hand.hand3.three-star{background-position: -870px 0px;}
.menu-bg .anim-div .resume-hand.hand4.three-star{background-position: -972px 0px;}
.menu-bg .anim-div .resume-hand.hand5.three-star{background-position: -846px 0px;}
.menu-bg .anim-div .resume-hand.hand1.locked{background-position: -1600px 0px;}
.menu-bg .anim-div .resume-hand.hand2.locked{background-position: -880px 0px;}
.menu-bg .anim-div .resume-hand.hand3.locked{background-position: -1160px 0px;}
.menu-bg .anim-div .resume-hand.hand4.locked{background-position: -1296px 0px;}
.menu-bg .anim-div .resume-hand.hand5.locked{background-position: -1128px 0px;}