<div id="mainPageDiv">
	
	<div id="background" class="imageBackground"></div>
	
	<div id="popupContent">

		<div class="wrapper settings-wrapper">
			<div class="settings-btn btn-blue audio text-center text-uppercase clickable" role="button">
				<span class="settings-btn-label">Audio Off</span>
			</div>
			<div class="settings-btn btn-blue help text-center text-uppercase clickable" role="button">
				<span class="settings-btn-label">Help</span>
			</div>
			<div class="settings-btn btn-red exit text-center text-uppercase clickable" role="button">
				<span class="settings-btn-label">Exit Game</span>
			</div>
			<div id="closeButton" class="settings-btn btn-green resume text-center text-uppercase clickable" role="button">
				<span class="settings-btn-label">Resume</span>
			</div>
		</div>

		

	</div>

	<div src='img/bg_setting.png' class="image"></div>
	<div src='img/btn_continue.png' class="image"></div>
	<div src='img/btn_reject.png' class="image"></div>
	<div src='img/btn_accept.png' class="image"></div>


</div>


 <script src="pages/templates/settingsScreen/settingsScreen.js"></script>