<div id="mainPageDiv">

	<div id="numLine">

	</div>

	<div id="quesNum">

		<div id="subNavDiv">

		</div>

		
	</div>

	<div id="nextBackBtns"> 
		
		<div id="nextBtn">

		</div>

		<div id="backBtn">

		</div>


	</div>

	<div id="valueButtons">

	</div>
	
	
	<div id="navBtns">
		
		<div id="navigateBtn"> 
			<span id="navText" class="popup-text-block"> </span>
		</div>

		<div id="howToProceedBtn"> 
			<span id="howToProceedText" class="popup-text-block"> </span>
		</div>

		<div id="educationalBtn">
			<span id="educationalText" class="popup-text-block"> </span>
		</div>

		<div id="iText"  class="text-block itext decisionIText"> </div>
		
		<div id="submitBtn">
			<span id="submitButton" class="text-block"> </span>
		 </div>
	</div>

	<div id="decActContentDiv">

	</div>

	

</div>

 <script src="pages/templates/decision/decision.js"></script>