*:focus{outline: none!important;}
body{width: 1014px; height: 652px; font-family: Arial;}
.wrapper{width: 1014px; height: 652px; overflow: hidden; position: absolute; left: 0; right: 0; background: none;}
.italics{font-style: italic;}
.text-white{color: white;}
.clickable{cursor: pointer;}
.setting-div{width: 45px; height: 45px; background: url(../img/btn_setting.png) 0 0 no-repeat; z-index: 2000; position: absolute; right: 0px;}
.setting-div:hover{background-position: -45px 0px;}
.button-wide{width: 117px; height: 44px; background-position: 0 0; background-repeat: no-repeat; display: inline-block;}
.button-wide:hover{background-position: 0px -44px;}
.button-wide .btn-text{font-size: 16px; line-height: 40px; font-weight: bold; color: #fff;}