#mainPageDiv_restaurant_prof_1 .profImage{background: url('../restaurant_tab3/images/ProfileSpriteSheet_02.png') no-repeat -61px -1px;
  width: 168px;
  height: 198px;
  position: absolute;
    top: 0px;
  left: 50px;
}
