#background
{
	background-image:url("images/bg.jpg");
	width:400px;
	float:left;
	background-repeat:no-repeat;
}

.contentScreen#contentDiv{

float:left;
margin-left: 0px;
margin-top:12%;

}
#tabContent{position: relative;
}
#header
{
	color:#3c3b3c;
}



