<?xml version="1.0"?>
<page type="menuScreen" zone="menuButton0">


	<profile1>profile1</profile1>
	<profile2>profile2</profile2>
	<profile3>profile3</profile3>


	<guidelinesPageId>guidelines</guidelinesPageId>
	<settingsPageId>settings</settingsPageId>
	<bgAudio>audio/bg_menu.mp3</bgAudio>

</page>