<div id="mainPageDiv">
	
	<div id="doneModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-body">
						<h4 class="modal-title">In this resume you have found...</h4>
						<ul class="mistakes-summary">
							<li>Grammatical mistakes</li>
							<li>Short work history (under experience)</li>
						</ul>
						<div class="mistakes-ques-wrapper">
							<div class="mistake-ques">Do you think the formatting of this resume is OK?</div>
							<div class="options">
								<input type='radio' name="1" class="radio-btn"></input>
								<span>Yes</span>
								<input type='radio' name="1" class="radio-btn" correct='yes'></input>
								<span>No</span>
								<input type='radio' name="1" class="radio-btn selected"></input>
								<span>There are minor issues but acceptable.</span>
							</div>
						</div>
						<div class="mistakes-ques-wrapper">
							<div class="mistake-ques">Did you find all the vital information?</div>
							<div class="ques-desc">(Such as qualifications, work experience etc.)</div>
							<div class="options">
								<input type='radio' name="2" class="radio-btn"></input>
								<span>Yes</span>
								<input type='radio' name="2" class="radio-btn" correct='yes'></input>
								<span>No</span>
								<input type='radio' name="2" class="radio-btn selected"></input>
								<span>There are minor issues but acceptable.</span>
							</div>
						</div>
						<div class="mistakes-ques-wrapper">
							<div class="mistake-ques">Did you find this resume complete?</div>
							<div class="options">
								<input type='radio' name="3" class="radio-btn"></input>
								<span>Yes</span>
								<input type='radio' name="3" class="radio-btn" correct='yes'></input>
								<span>No</span>
								<input type='radio' name="3" class="radio-btn selected"></input>
								<span>There are minor issues but acceptable.</span>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<span class="close-btn-wrapper">
							<button type="button" class="btn-left done-modal-close-btn text-uppercase" data-dismiss="modal">Go Back</button>
							<span> and check again.</span>
						</span>
						<button type="button" id='questions-submit' class="btn-done text-uppercase done-modal-submit-btn" data-toggle="modal" data-dismiss="modal" data-target="#feedbackModal">Submit</button>
					</div>
				</div>
			</div>
		</div>
		<div id="feedbackModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-body text-center">
						<div class="score-star two-star"></div>
						<h3 class="modal-title">Congratulations!</h3>
						<div class="mistakes-score-wrapper">
							<div class="row score-wrap issues">
								<div class="score labels col-xs-6 text-right">Issues identified</div>
								<div class="score num col-xs-6 text-left"><span id='issues-identified' class="identified">5</span><span> out of </span><span id='total-issues' class="issues-total">7</span></div>
							</div>
							<div class="row score-wrap missed">
								<div class="score labels col-xs-6 text-right">Missed Attempts</div>
								<div id="missed-attempts" class="score num col-xs-6 text-left">2</div>
							</div>
							<div class="row score-wrap current">
								<div class="score labels col-xs-6 text-right">Current Score</div>
								<div id="current-score" class="score num col-xs-6 text-left">2500</div>
							</div>
							<div class="row score-wrap previous">
								<div class="score labels col-xs-6 text-right">Previous Score</div>
								<div id="previous-score" class="score num col-xs-6 text-left">1000</div>
							</div>
							<div class="row score-wrap total">
								<div class="score labels col-xs-6 text-right">Total Score</div>
								<div id="total-score" class="score num col-xs-6 text-left">3500</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="wrapper main-page-bg">
			<div class="setting-div clickable"></div>
			<div class="bg-dark-tint"></div>
			<div class="left-panel">
				<div class="left-panel-wrapper ink-remaining-wrapper">
					<div class="text-content text-right text-uppercase ink-label desc">Ink Remaining</div>
					<div class="icon-marker"></div>
					<div class="progress-bg"></div>
				</div>
				<div class="left-panel-wrapper score-wrapper">
					<div class="text-content text-center text-uppercase score-label desc">Score</div>
					<div class="score-bg text-content"><span class="score-count">2500</span></div>
				</div>
				<div class="left-panel-wrapper issues-found-wrapper">
					<div class="text-content text-center text-uppercase issues-label desc">Issues Identified</div>
					<div class="issue-content-wrap text-center">
						<span class="issues-warning"></span>
						<span id="issue-count-text" class="count text-content text-white">0/7</span>
					</div>
				</div>
				<div class="left-panel-wrapper text-center pages-wrapper">
					<div class="text-content text-uppercase pages-label desc">Pages</div>
					<div class="pages-bg page1 page-up hide-element"><span class="page-num">1</span></div>
					<div class="pages-bg page2 page-blank hide-element"><span class="page-num">2</span></div>
					<div class="pages-bg page3 page-blank hide-element"><span class="page-num">3</span></div>
					<div class="pages-bg page4 page-down hide-element"><span class="page-num">4</span></div>
				</div>
				<div class="left-panel-wrapper text-center hint-wrapper">
					<div class="text-content text-uppercase hint-label desc">Hint Available</div>
					<div class="hint-btn"></div>
				</div>
				<div class="left-panel-wrapper text-center guidelines-wrapper">
					<button class="guidelines-btn text-uppercase">View Guidelines</button>
				</div>
			</div>
			<div class="main-content">
				<div class="label-arrow-bg"></div>
				<div class="resume-div">
					<div class="paper-fold"></div>
					<div class="resume-content">
					<div class="ok-popout text-center hide-element"><span class="ok-text">This is OK</span></div>
						<div class="hint-box-top hide-element"></div>
						<div class="hint-box-bottom hide-element"></div>
						<div id="resume-content-container"></div>
						
					</div>
				</div>
				<div class="note challenge-note"></div>
				<button type="button" class="btn-done text-uppercase" data-toggle="modal" data-target="#doneModal">Done</button>
			</div>
		</div>

</div>

 <script src="pages/templates/resumeScreen/resumeScreen.js"></script>