<div id="mainPageDiv">
	
		<div class="wrapper menu-bg">
			<div class="setting-div clickable"></div>
			<div class="final-screen">
				<div class="medal-wrapper">
					<div class="medal gold"></div>
					<div class="feedback-msg">
						<div class="feedback-title">Good Job!</div>
						<div class="feedback-result">You have achieved a</div>
						<div class="feedback-medal gold">Gold Medal</div>
					</div>
					
					<div class="btn-wrapper">
						<div class="final-scr-btn replay text-center clickable" role="button">
							<span class="btn-text text-uppercase">Replay</span>
						</div>
						<div class="final-scr-btn exit text-center clickable" role="button">
							<span class="btn-text text-uppercase">Exit</span>
						</div>
					</div>
				</div>
			</div>
			<div class="menu-div">
				<div class="menu-upper">
					<h2 class="heading">Menu</h2>
					<p class="text-content">Displayed on the right are resumes you need to review. You will be able to review only one resume at a time. Once a resume is reviewed successfully, the next resume will become accessible.</p>
					<p class="text-content">When a resume is reviewed successfully, its icon will be marked with a check mark and stars based on the player’s performance.</p>
					<p class="margin-below2 text-content">If a resume is not accessible, then its icon will be greyed out (inactive) and it will have a ‘lock’ icon.</p>
				</div>
				<div class="menu-lower">
					<div class="margin-below clickable menu-icon-brochure"></div>
					<div class="text-content light-blue-text">Select the highlighted resume to begin with your review.</div>
				</div>
			</div>
			<div class="anim-div">
				<div id='resume-1' resumeId="1" class="resume-hand hand1 locked"></div>
				<div id='resume-2' resumeId="2" class="resume-hand hand2 locked"></div>
				<div id='resume-3' resumeId="3" class="resume-hand hand3 locked"></div>
				<div id='resume-4' resumeId="4" class="resume-hand hand4 locked"></div>
				<div id='resume-5' resumeId="5" class="resume-hand hand5 locked"></div>
			</div>
		</div>
	

</div>

 <script src="pages/templates/menuScreen/menuScreen.js"></script>