<div id="mainPageDiv">
	
	<div class="wrapper menu-bg">
			<div class="setting-div"></div>
			<div class="menu-div">
				<div class="menu-upper">
					<h2 id="heading" class="heading text-block">Menu</h2>
					<div id='paragraph_1' class="margin-below text-content text-block"></div>
					<div id='paragraph_2' class="margin-below2 text-content text-block"></div>
				</div>
				<div class="menu-lower">
					<img class="margin-below clickable" src="crops/menu/icon_brochure.png">
					<div id='guideline_text' class="text-content light-blue-text text-block"></div>
				</div>
			</div>
			<div class="anim-div">
				<div id='resume-1' resumeId="1" class="resume-hand hand1 locked"></div>
				<div id='resume-2' resumeId="2" class="resume-hand hand2 locked"></div>
				<div id='resume-3' resumeId="3" class="resume-hand hand3 locked"></div>
				<div id='resume-4' resumeId="4" class="resume-hand hand4 locked"></div>
				<div id='resume-5' resumeId="5" class="resume-hand hand5 locked"></div>
			</div>
		</div>

	

</div>

 <script src="pages/templates/menuScreen/menuScreen.js"></script>