<div id="mainPageDiv">
	
	<div id="background" class="imageBackground"></div>
	
	<div id="contentDiv">

		<div id="header"  class="text-block"> </div>
		<div id="body"  class="text-block"> </div>
		
		<div id="footer" class="footer"> 
		
			
			<div id="iText" class="text-block itext footerItext"></div>
			<div id="nextBtn" class='nextButton'>
				<span id="nextButton" class="next-text-block nextButtonText"> </span>
			</div>
			


		</div>

	</div>

	

</div>

 <script src="pages/templates/scenerioScreen/scenerioScreen.js"></script>