.guidelines-wrapper{background: url(../crops/guidelines/blueTint.png) 0 0 no-repeat;}
.guidelines-wrapper #guidelines-carousel{width: 639px; padding: 0px 15px; margin: 0 auto;}
.guidelines-wrapper .guideline-slide{width: 609px; height: 604px; background: url(../crops/guidelines/bg_guidlines.png) 0 0 no-repeat;}
