.info-section{margin-bottom: 10px;}
div.error-wrap{display: block;}
.same-info-section-ul{margin-bottom: 0px;}


.info-section .section-heading{font-weight: bold; font-size: 18px; color: rgb(159, 184, 205); font-family: 'Bookman Old Style';}
.info-section .list-heading{color: rgb(114,124,163); font-family: 'Bookman Old Style'; font-weight: bold;}
.info-section .list-subheading{color: rgb(114,124,163); font-family: 'Bookman Old Style';}
div.incorrect{display: inline-block;}