<div id="mainPageDiv">
	
	
	<div id="popupContent">

		<div class="profImage"></div>

		<div id="notiDiv">
			<div id="background" class="imageBackground"></div>
	
			<div id="popupBody"  class="text-block"> </div>

		</div>

		<div id="popupHeader"  class="text-block"> </div>
		
		
		<div id="popupFooter"> 
		
			
			<div id="closeButton" class="text-block closeButton"></div>
			<div id="iText" class="text-block itext footerItext quesPopupIText"></div>

		</div>

	</div>

	

</div>

 <script src="pages/templates/profileInfoScreen/profileInfoScreen.js"></script>