<div id="mainPageDiv">
	
	<div id="background" class="imageBackground"></div>
	
	<div id="popupContent">

		<div class="wrapper guidelines-wrapper">
			<div id="closeButton" class="close-guidelines-btn clickable closeButton"></div>
			<div class="carousel-nav-btn prev"></div>
			<div class="coverflow" id="guidelines-carousel">
				<div class="guideline-slide cover">
					<span class="slide-close-btn"></span>
					<h4>What to Look for in a Resume?</h4>
					<p>Look at this resume.</p>
					<p>Focus down left side of the resume. This is typically where you will find the company name, title, timeline etc.</p>
					<p>The key is to look for these key areas!</p>
					<div class="img-wrap">
						<img src="crops/guidelines/wip.jpg" class="guidelines-visual">
					</div>
					<div class="guidelines-btn more text-center clickable" role="button">
						<span class="btn-text text-uppercase">Show More</span>
					</div>
				</div>
				<div class="guideline-slide cover">
					<span class="slide-close-btn"></span>
					<h4>Basic Questions to Ask and Spot Issues</h4>
					<p>Following are the basic questions you should ask while reviewing a resume.</p>
					<ul>
						<li>Are there spelling or grammatical errors?</li>
						<li>Are there gaps in employment?</li>
						<li>Does the candidate “job hop”?</li>
						<li>Is the resume formatted well?</li>
						<li>Are there red flags?</li>
					</ul>
					<div class="img-wrap">
						<img src="crops/guidelines/wip.jpg" class="guidelines-visual">
					</div>
					<div class="guidelines-btn more text-center clickable" role="button">
						<span class="btn-text text-uppercase">Show More</span>
					</div>
				</div>
				<div class="guideline-slide cover">
					<span class="slide-close-btn"></span>
					<h4>Are there spelling or grammatical errors?</h4>
					<p>Ideally, a resume should have a formal language and professional tone.</p>
					<p>Read through the resume to check for spelling and grammatical errors. You may use a computer spell checker or dictionary for checking online resumes. For printed resumes, you may get them proof read.</p>
					<div class="img-wrap">
						<img src="crops/guidelines/wip.jpg" class="guidelines-visual">
					</div>
					<div class="guidelines-btn more text-center clickable" role="button">
						<span class="btn-text text-uppercase">Show More</span>
					</div>
				</div>
				<div class="guideline-slide cover">
					<span class="slide-close-btn"></span>
					<h4>Are there gaps in employment?</h4>
					<p>An ideal candidate would seldom have gaps in employment and if so, they would have valid reasons for it.</p>
					<p>In the resume, check the employment tenure for each company and calculate the gaps by looking at the joining and resigning dates.</p>
					<div class="img-wrap">
						<img src="crops/guidelines/wip.jpg" class="guidelines-visual">
					</div>
					<div class="guidelines-btn more text-center clickable" role="button">
						<span class="btn-text text-uppercase">Show More</span>
					</div>
				</div>
				<div class="guideline-slide cover">
					<span class="slide-close-btn"></span>
					<h4>Does the candidate “job hop”?</h4>
					<p>Check if the resume reflects short tenures with several employers. Candidates showing this trait are considered less loyal and unreliable.</p>
					<p>In the resume, check the number of jobs the candidate has changed as against the employment tenure.</p>
					<div class="img-wrap">
						<img src="crops/guidelines/wip.jpg" class="guidelines-visual">
					</div>
					<div class="guidelines-btn more text-center clickable" role="button">
						<span class="btn-text text-uppercase">Show More</span>
					</div>
				</div>
				<div class="guideline-slide cover">
					<span class="slide-close-btn"></span>
					<h4>Is the resume formatted well?</h4>
					<p>Resumes with comfortable viewing formats are always appreciated. It sets the first hand impression of the candidate.</p>
					<p>In the resume, check how the textual information flows. Check the font color and size, indentation and spacing of lines/paragraphs.</p>
					<div class="img-wrap">
						<img src="crops/guidelines/wip.jpg" class="guidelines-visual">
					</div>
					<div class="guidelines-btn more text-center clickable" role="button">
						<span class="btn-text text-uppercase">Show More</span>
					</div>
				</div>
				<div class="guideline-slide cover">
					<span class="slide-close-btn"></span>
					<h4>Are there red flags?</h4>
					<p>Identify critical areas of suspicion. It could be incorrect dates, non-specific educational qualifications, fabricated company information, ambiguous roles and responsibilities etc.</p>
					<p>In the resume, note anything that seems unclear, vague, or uncommon. Note misspellings, incorrect dates, numbers or percentages, gaps in information and inadequate information.</p>
					<div class="img-wrap">
						<img src="crops/guidelines/wip.jpg" class="guidelines-visual">
					</div>
					<div class="guidelines-btn more text-center clickable" role="button">
						<span class="btn-text text-uppercase">Show More</span>
					</div>
				</div>
				<div class="guideline-slide cover">
					<span class="slide-close-btn"></span>
					<h4>Types of Visible Issues in a Resume</h4>
					<p>A resume can have glaring issues or visible issues that can be spotted easily at a place.</p>
					<p>Following issues are considered as visible issues.</p>
					<ul class="checklist">
						<li class="check-points">Grammatical mistakes</li>
						<li class="check-points">Incorrect spellings</li>
						<li class="check-points">Irrelevant information under a relevant heading (for example- listing hobbies under skills)</li>
						<li class="check-points">Informal language/wordings:</li>
						<ul class="nested-checklist">
							<li>Setting expectations for bonus</li>
							<li>Use of offensive / explicit language</li>
							<li>Fake/offensive/funny email ID</li>
						</ul>
						<li class="check-points">Short work history under experience</li>
						<li class="check-points">Self-employment or running own set-up (validation should be done - when and how?)</li>
						<li class="check-points">Details too sketchy/vague or missing for roles and responsibilities held</li>
						<li class="check-points">Formatting consistency issues</li>
						<li class="check-points">Details missing /vagueness/very short explanation (where required)</li>
						<li class="check-points">Unexplained gaps in employment</li>
						<li class="check-points">Dates missing</li>
					</ul>
					<!-- <div class="guidelines-btn more text-center clickable" role="button">
						<span class="btn-text text-uppercase">Show More</span>
					</div> -->
				</div>
			</div>
			<div class="carousel-nav-btn next"></div>
		</div>

		<div id="popupFooter"> 
		
			
			<div id="closeButton" class="text-block closeButton"></div>
			<div id="iText" class="text-block itext footerItext quesPopupIText"></div>

		</div>

	</div>

	

</div>


 <script src="js/vendor/powerful-coverflow/jquery.coverflow.js"></script>
<script src="js/vendor/powerful-coverflow/jquery.interpolate.min.js"></script>
<script src="js/vendor/powerful-coverflow/jquery.touchSwipe.min.js"></script>
<script src="js/vendor/powerful-coverflow/reflection.js"></script>
 <script src="pages/templates/guidelinesScreen/guidelinesScreen.js"></script>