#mainPageDiv_chefs_prof_2 .profImage{background: url('../chefs_tab3/images/ProfileSpriteSheet_03.png') no-repeat -61px -211px;
    width: 168px;
  height: 198px;
  position: absolute;
    top: 0px;
  left: 50px;
}
