<div id="mainPageDiv">
	
		<div id="profileModal1" class="profileModal modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="profile-img profile-1"></div>
					<div class="close-modal" role="button" data-dismiss="modal"></div>
					<div class="modal-body">
						<div class="profile-text">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						</div>
					</div>
					<div class="modal-footer">
						<span type="button" class="profile-btn-continue text-uppercase text-center clickable" role="button"><span id='profile-1-btn' class="btn-text clickable">Continue</span></span>
					</div>
				</div>
			</div>
		</div>

		<div id="profileModal2" class="profileModal modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="profile-img profile-1"></div>
					<div class="close-modal" role="button" data-dismiss="modal"></div>
					<div class="modal-body">
						<div class="profile-text">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						</div>
					</div>
					<div class="modal-footer">
						<span type="button" class="profile-btn-continue text-uppercase text-center clickable" role="button"><span id='profile-2-btn' class="btn-text clickable">Continue</span></span>
					</div>
				</div>
			</div>
		</div>

		<div id="profileModal3" class="profileModal modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="profile-img profile-1"></div>
					<div class="close-modal" role="button" data-dismiss="modal"></div>
					<div class="modal-body">
						<div class="profile-text">
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
							<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
						</div>
					</div>
					<div class="modal-footer">
						<span type="button" class="profile-btn-continue text-uppercase text-center clickable" role="button"><span id='profile-3-btn' class="btn-text clickable">Continue</span></span>
					</div>
				</div>
			</div>
		</div>

		<div class="wrapper menu-page">
			<div class="setting-div clickable"></div>
			<div class="profile-folder-wrapper">
				<div id='profile-1' class="profile profile-open clickable" data-toggle="modal" data-target="#profileModal1"  data-backdrop="static" data-keyboard="false">
					<div class="profile-num one">Profile 1</div>
				</div>
				<div id='profile-2' class="profile profile-open clickable" data-toggle="modal" data-target="#profileModal2"  data-backdrop="static" data-keyboard="false">
					<div class="profile-num two">Profile 2</div>
				</div>
				<div id='profile-3' class="profile profile-new clickable" data-toggle="modal" data-target="#profileModal3"  data-backdrop="static" data-keyboard="false">
					<div class="profile-num three">Profile 3</div>
				</div>
			</div>
			<div class="menu-band">
				<div class="menu-left">
					<div class="menu-heading">Menu</div>
					<div class="menu-text">
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					</div>
				</div>
				<div class="menu-right">
					<div class="brochure-icon"></div>
					<div class="brochure-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</div>
				</div>
			</div>
		</div>
	

</div>

 <script src="pages/templates/menuScreen/menuScreen.js"></script>