<div id="mainPageDiv">
	
		<div id="profileModal1" class="profileModal modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="profile-img profile-1"></div>
					<div class="close-modal" role="button" data-dismiss="modal"></div>
					<div class="modal-body">
						<div class="profile-text text-center">
							<h3 class="profile-modal-title">Job Profile</h3>
							<div class="profile-modal-role">QA Manager</div>
							<img class="profile-modal-img img-responsive" src="img/resume-menu-popup.png">
						</div>
					</div>
					<div class="modal-footer">
						<span type="button" id='profile-1-btn' class="profile-btn-continue text-uppercase text-center clickable" role="button"><span class="btn-text clickable">Continue</span></span>
					</div>
				</div>
			</div>
		</div>

		<div id="profileModal2" class="profileModal modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="profile-img profile-2"></div>
					<div class="close-modal" role="button" data-dismiss="modal"></div>
					<div class="modal-body">
						<div class="profile-text text-center">
							<h3 class="profile-modal-title">Job Profile</h3>
							<div class="profile-modal-role">Sales Executive</div>
							<img class="profile-modal-img img-responsive" src="img/resume-menu-popup.png">
						</div>
					</div>
					<div class="modal-footer">
						<span type="button" id='profile-2-btn' class="profile-btn-continue text-uppercase text-center clickable" role="button"><span class="btn-text clickable">Continue</span></span>
					</div>
				</div>
			</div>
		</div>

		<div id="profileModal3" class="profileModal modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="profile-img profile-3"></div>
					<div class="close-modal" role="button" data-dismiss="modal"></div>
					<div class="modal-body">
						<div class="profile-text text-center">
							<h3 class="profile-modal-title">Job Profile</h3>
							<div class="profile-modal-role">Support</div>
							<img class="profile-modal-img img-responsive" src="img/resume-menu-popup.png">
						</div>
					</div>
					<div class="modal-footer">
						<span type="button" id='profile-3-btn' class="profile-btn-continue text-uppercase text-center clickable" role="button"><span class="btn-text clickable">Continue</span></span>
					</div>
				</div>
			</div>
		</div>

		<div class="wrapper menu-page">
			<div class="setting-div clickable"></div>
			<div class="final-screen">
				<div class="medal-wrapper">
					<div class="medal gold"></div>
					<div class="feedback-msg">
						<div class="feedback-title">Good Job!</div>
						<div class="feedback-result">You have achieved a</div>
						<div class="feedback-medal gold">Gold Medal</div>
					</div>
					
					<div class="btn-wrapper">
						<!-- <div class="final-scr-btn replay text-center clickable" role="button">
							<span class="btn-text text-uppercase">Replay</span>
						</div> -->
						<div class="final-scr-btn exit text-center clickable" role="button">
							<span class="btn-text text-uppercase">Exit</span>
						</div>
					</div>
				</div>
			</div>
			<div class="profile-folder-wrapper">
				<div id='profile-1' class="profile profile-open clickable" data-toggle="modal" data-target="#profileModal1"  data-backdrop="static" data-keyboard="false">
					<div class="profile-num one">Profile 1</div>
				</div>
				<div id='profile-2' class="profile profile-open clickable" data-toggle="modal" data-target="#profileModal2"  data-backdrop="static" data-keyboard="false">
					<div class="profile-num two">Profile 2</div>
				</div>
				<div id='profile-3' class="profile profile-open clickable" data-toggle="modal" data-target="#profileModal3"  data-backdrop="static" data-keyboard="false">
					<div class="profile-num three">Profile 3</div>
				</div>
			</div>
			<div class="menu-band">
				<div class="menu-left">
					<div class="menu-heading">Menu</div>
					<div class="menu-text">
						<p>Welcome to Let's Evaluate!</p>
						<p>In this, you will identify the right candidate for the given job description. You have three candidates to evaluate. To do this, you need to evaluate their resume, the CCAT profile as well as the interview transcript. Begin by clicking on any profile.</p>
					</div>
				</div>
				<div class="menu-right">
					<div class="vcg-icon"></div>
					<div class="brochure-text"></div>
				</div>
			</div>
		</div>


		<div src='img/bg_wood.png' class="image"></div>
		<div src='img/btn_profileMenu.png' class="image"></div>
		<div src='img/menu_bluePatch.png' class="image"></div>
		<div src='img/icon_brochure.png' class="image"></div>
		<div src='img/menu_openFolder.png' class="image"></div>
		<div src='img/photo-menu.png' class="image"></div>
		<div src='img/btn_close.png' class="image"></div>
		<div src='img/btn_continue.png' class="image"></div>
		<div src='img/bg_medal.png' class="image"></div>
		<div src='img/medalGold.png' class="image"></div>
		<div src='img/medalSilver.png' class="image"></div>
		<div src='img/medalBronze.png' class="image"></div>
		<div src='img/btn_reject.png' class="image"></div>
	

</div>

 <script src="pages/templates/menuScreen/menuScreen.js"></script>