<div id="mainPageDiv">
	
	<div id="background" class="imageBackground"></div>
	
	<div id="contentDiv">

		<div id="header"  class="text-block"> </div>
		<div id="body"  class="text-block"> </div>	

		<div id="tabList"> 


		</div>

		<div id="tabContent">

		</div>


		<div class="footer"> 
		
			
			<div id="closeButton" class="text-block closeButton"></div>
			<div id="iText" class="text-block itext footerItext"></div>

		</div>

	</div>

	

</div>

 <script src="pages/templates/tabInfoScreenPopup/tabInfoScreenPopup.js"></script>