<div id="mainPageDiv">
	
	<div id="popupContent">

		
		<div id="background" class="imageBackground"></div>
		
			<table id="swotTable">



			</table>

			<div id="popupHeader" class="text-block"></div>

			<div id="popupFooter"> 
		
			
			<div id="closeButton" class="text-block closeButton"></div>
			<div id="iText" class="text-block itext footerItext"></div>

		</div>


	</div>

	

</div>

 <script src="pages/templates/SWOTDisplayPopup/SWOTDisplayPopup.js"></script>